.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 0 30px;
    width: 95%;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .25);
    height: 80px;
    border-radius: 13px;
    position: fixed;
    top: 50px;
    left: 50%;
    z-index: 999;
    transform: translate(-50%);
}

.nav-logo {
    color: #222;
    cursor: pointer;
    font-size: 2rem;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    gap: 1.5rem;
    list-style: none;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    color: #222;
    font-size: 1.2rem;
    padding: 0.7rem 1rem;
    white-space: nowrap;
    font-weight: 600;
}

.nav-link i {
    padding-right: 10px;
}

.nav-link:hover {
    background-color: #088f8f;
    color: #fff;
    border-radius: 4px;
    transition: all ease-in-out;
}

.menu-icons {
    display: none;
}


@media screen and (max-width: 850px) {
    .nav-container {
        z-index: 99;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: #f7f7f7;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: -100%;
        opacity: 0;
        align-items: stretch;
        padding: 80px 0 30px 0;
        margin: 0;
    }
    .nav-menu.active {
        left: 0;
        opacity: 1;
        z-index: -1;
        transition: 0.3s ease-in-out;
    }

    .nav-link {
        display: block;
        font-size: 1.2rem;
        width: 100%;
    }
    .nav-link:hover {
        background-color: #088f8f;
        transition: none;
    }

    .menu-icons {
        display: block;
        cursor: pointer;
    }

    .menu-icons i{
        font-size: 1.2rem;
        color: #222;
    }
}
